<h1>New user</h1>

<%= render 'form' %>

<%= scope = 'http://www.google.com/calendar/feeds/' %>
<%= next_url = 'http://example.com/change/to/your/app' %>
<%= secure = false  # set secure = true for signed AuthSub requests %>
<%= sess = true %>
<%= authsub_link = GData::Auth::AuthSub.get_url(next_url, scope, secure, sess) %>

<%= link_to 'Back', users_path %>
