<!DOCTYPE html>
<html>
<head>
  <title>Restaurants</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" <%=link_to "Home", home_url%></a>
    <ul class="nav">
      <li><a <%=link_to "Restaurants", restaurants_url%></a></li>
      <li><a <%=link_to "Users", users_url%></a></li>
      <li>
          <% if session[:user_id].present? %>
            <%= link_to "Sign Out", '/sessions', :method => 'delete' %>
          <% else %>
            <%= link_to "Sign In", '/sessions/new' %>
            </li><li>
            <%= link_to "Sign Up", '/users/new' %>
          <% end %>
      </li>
    </ul>
  </div>
</div>

<%= notice %>
<%= yield %>

</body>
</html>
